@model Search_Work.Arrea.Candidate.Models.Resume.AddResumeFieldActivitiesViewModel


@{

  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="container">

    <div style="float: left; width: 49%">
        <h3><b>Pезюме - @Model.Resume.Name</b></h3>

    </div>
    <div style="float: left; width: 49%">
        <h3><b>Сфера діятельності</b></h3>

    </div>

</div>

<hr />
<div id="container">
    <form method="post" asp-action="AddImplementedProjects" asp-controller="EditResume" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="ResumeId" value="@Model.Resume.Id" />
        <hr />
        <p>
            

                @Html.DropDownList("FieldActivityId", Model.FieldActivities)
         
        </p>




        <hr />
        <button type="submit">Зберегти</button>
    </form>
</div>