@{

  Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row" id="container">
    <h4><b><span style="color: 	#DC143C">Шаблон пошуку вакансії створено</span> </b> відправлено</h4>

    <button type="submit" onclick="location.href='@Url.Action("PaternSearchVacancy", "Vacancy")'"> OK! </button>
</div>
