@import 'colors';
$button_border_px: 3px;
$modal_border_px: 5px;

$heading_vertical_padding: 1.5rem;
$main_page_circle_border_width: 1.25rem;


$interactive_outline_offset: 4px;
$interactive_transform_scale: 1.08;