$primary_color: rgba( 45, 160, 164, 1 );
$text_Color: rgba( 96, 96, 93, 1 );
$footer_link_color: rgb( 38, 38, 38 );

$breadcrumbs_background_color: rgba(244, 243, 236, 1);

$common_text_color: rgb( 104, 104, 104 );
$footer_background_color: rgb( 238, 238, 238 );
$footer_caption_color: rgb( 161, 161, 161 );
$footer_design_by_color: rgb(165, 165, 165);


$headings_color: rgba(73, 73, 73, 1);
$headings_additional_color: rgb( 223, 196, 103 );

$text_input_placeholder_color: rgb( 196, 196, 181 );
$text_input_background_color: rgb( 244, 243, 236 );

$divider_list_horisontal_color: rgb( 231, 231, 231 );


$mainPage_color_presenation_label: rgba(229, 190, 54, 1);
$mainPage_color_presentation_for_label: rgba(53, 170, 166, 1);

$mainPage_color_circle_count: rgba(84, 211, 173, 1);
$mainPage_color_circle_shadow: rgba(84, 211, 173, .149);

$resumeDetailsPage_resume_date_color: rgb(192, 191, 181);

$color_caption: rgba(186, 186, 186, 1);
$authForm_color_caption: rgba(194, 220, 221, 1);

$ui_checkbox_background_color: rgba(84, 211, 173, 1);

$advanced_search_form_background_color: rgba(246, 244, 235, 1);

$resume_catalogue_caption_color: rgb(175, 175, 175);
$resume_catalogue_expiriences_color: rgb(108, 108, 108);
$resume_catalogue_item_border_color: rgb(213, 213, 213);


// .Rectangle_6 {
//     background-color: rgb(244, 243, 236);
//     position: absolute;
//     left: 146px;
//     top: 1425px;
//     width: 1920px;
//     height: 700px;
//     z-index: 617;
//   }
  
  

// .Rectangle_2_copy_9 {
//     background-color: rgb( 223, 196, 103 );
//   }

//   .����������� {
//     font-size: 0.847cm;
//     font-family: "Proxima Nova";
//     color: rgb( 73, 73, 73 );
//   }

  
//   .Rectangle_3_copy_21 {
//     background-color: rgb( 244, 243, 236 );
//   }
  

//   .������ {
//     font-size: 0.706cm;
//     font-family: "Proxima Nova";
//     color: rgb( 196, 196, 181 );
//     line-height: 1.749;    
//   }
  
// .���_�����������������_���: {
//     font-size: 0.635cm;
//     font-family: "Proxima Nova";
//     color: rgb( 96, 96, 93 );
//     line-height: 1.945;
//     position: absolute;
//     left: 107.138611111111cm;
//     top: 95.3558333333333cm;
//     width: 8.149cm;
//     height: 0.6cm;
//     z-index: 16;
//   }
  