@model Search_Work.Models.ViewModel.Candidate.Resumes.PageResumeCandidateToResponseViewModel

@{

  Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row" id="container" >

   
        <h3 style="color: 	#DC143C"><b>Кандидат - @Model.Candidate.AccountUser.Email</b></h3>


    <hr />

    
        <h3><b>Відправити резюме</b></h3>



</div>

<hr />
<div id="container">
    <form method="post" asp-action="ResponseToVacancy" asp-controller="Vacancy" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="CandidateId" value="@Model.CandidateId" />
        <input type="hidden" name="VacancyId" value="@Model.VacancyId" />
       

      
        <h4><b> Виберіть резюме </b></h4>
        @Html.DropDownList("ResumeId", Model.Resumes)
        <hr />
        <button type="submit">Зберегти</button>
    </form>
</div>
