
@model Search_Work.Models.ViewModel.Candidate.Resumes.PageResumeCandidateToResponseViewModel
@{

  Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row" id="container">
    <h3 style="color:#DC143C;"><b>Зареєструйтесь</b></h3>

    <button type="submit" onclick="location.href='@Url.Action("AboutVacancy", "Vacancy", new { vacancyId = Model.Vacancy.Id })'">OK</button>
</div>

